.profil-komunitas img {
    width: 50%;
    height: auto;
}

.button-komunitas button {
    background-color: #1366C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border: none;
    letter-spacing: 0.2vw;
    border-radius: 0px;
    color: white;
    border: none;
}

.button-komunitas button:hover {
    background-color: white;
        color: #1366C3;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 13px;
        border: none;
        letter-spacing: 0.2vw;
        border-radius: 0px;
        border-color: #1366C3;
        border-style: solid;
}

.profil-komunitas h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: center;
    color: #1366c3;
}

.card {
    width: 90%;
}

.deskripsi-komunitas h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    letter-spacing: 0.1vw;
}

.deskripsi-komunitas h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.1vw;
}

.alamat.komunitas h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1vw;
}

.icon-detail {
    width: 3.5vw;
    height: auto;
}

.contact-komunitas h2 {
    font-size: 2vw;
}

.desc-komunitas p {
    font-size: 1vw;
    text-align: justify;
}

.desc-icon {
    font-size: 1vw;
}

.contact-komunitas h2{
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1366C3;
}

.desc-komunitas h4{
    letter-spacing: 0.1vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #1366C3;
}

@media screen and (min-width: 400px) and (max-width: 767px) {
    .deskripsi-komunitas h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.1vw;
    }

    .deskripsi-komunitas h5 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 0.1vw;
        font-size: 1.5vw;
    }

    .profil-komunitas img {
        width: 70%;
        height: auto;
    }

    .profil-komunitas h6 {
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        letter-spacing: 0.1vw;
        font-size: 1.5vw;
        color: #1366c3;
    }
    .icon-detail {
        width: 30px;
        height: auto;
      }

    .contact-komunitas table{
        width: 60%;
        margin: auto;
    }

    .contact-komunitas h2{
        text-align: center;
        letter-spacing: 0.1vw;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #1366C3;
    }

    .desc-komunitas h4{
        text-align: center;
        letter-spacing: 0.1vw;
        font-size: 14px;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #1366C3;
        margin-top: 10px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .contact-komunitas h2{
        text-align: center;
        letter-spacing: 0.1vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #1366C3;
    }

    .desc-komunitas h4{
        text-align: center;
        letter-spacing: 0.1vw;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #1366C3;
        margin-top: 10px;
    }
}
