.detail-psikolog {
    width: 70%;
}

.icon-psikolog img{
    width: 30px;
    height: 30px;
}

.detail-psikolog h4{
    text-align: left;
    font-weight: 600;
    letter-spacing: 0.2vw;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.detail-psikolog h6{
    text-align: left;
    font-weight: 400;
    letter-spacing: 0.2vw;
    font-family: 'Poppins', sans-serif;
}

.psikolog-name table{
    width: 100%;
}

.icon-psikolog {
    width: 10%;
}

.psikolog-name a{
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #1366C3;
    padding: 10px;
    margin-top: 10px;
}

.psikolog-name a:hover{
    text-align: center;
    text-decoration: none;
    color: #1366C3;
    background-color: white;
    padding: 10px;
    margin-top: 10px;
    border-style: solid;
    border-color:#1366C3 ;
}

.deskripsi-psikolog p{
    font-size: 13px;
    letter-spacing: 0.2vw;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-align: justify;
}

.jadwal-psikolog table td{
    font-size: 13px;
    letter-spacing: 0.2vw;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;

}

.profilpsikolog h4{
    font-weight: 600;
    color: #1366C3;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2vw;
}