.card-psikolog {
    background: #FFFFFF;
    border: 1px solid #1366C3;
    box-shadow: 0px 4px 4px rgba(35, 39, 255, 0.25);
    border-radius: 5px;
    width: 70vw;
}

.card-psikolog .col-6 {
    display: flex;
    justify-content: center;
}
.card-img-psikolog img {
    height:min-content;
    border-radius: 5px 0px 0px 5px;
}

.btn-card-piskolog button {
    background-color: #1366C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border: none;
    letter-spacing: 0.2vw;
    border-radius: 0px;
    color: white;
}

.btn-card-piskolog button:hover{
    background-color: white;
    color: #1366C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border: none;
    letter-spacing: 0.2vw;
    border-radius: 0px;
    border-color: #1366C3;
    border-style: solid;
}

.psikolog-name h3 {
    font-weight: 700;
    font-size: 25px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.2vw;
    text-transform: uppercase;
}


.psikolog-job h4 {
    font-weight: 600;
    font-size: 15px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 0.1vw;

}

.psikolog-job h5 {
    /* font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6vw;
    line-height: 20px; */
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    font-family: 'Poppins', sans-serif !important;
    letter-spacing: 0.1vw;
}

/* @media screen and (min-width: 992px) {
    .psikolog-job h4 {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 2vw;
            line-height: 22px;
            margin-bottom: 0.6vw;
            margin-top: 1.4vw;
    
        }
} */
@media screen and (min-width: 400px) and (max-width: 700px) {
    .card-psikolog {
        background: #FFFFFF;
        border: 1px solid #1366C3;
        box-shadow: 0px 4px 4px rgba(35, 39, 255, 0.25);
        border-radius: 5px;
        width: 100%;
    }
    .psikolog-name h3 {
        font-family: 'Poppins', sans-serif;        
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        letter-spacing: 0.2vw;
        text-transform: uppercase;
    }
    
    .psikolog-job h4 {
        font-family: 'Poppins', sans-serif;        
        font-style: normal;
        font-weight: 600;
        font-size: 13px;
        letter-spacing: 0.2vw;
        margin-bottom: 0;
    }
    
    .psikolog-job h5 {
        font-family: 'Poppins', sans-serif;        
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
    }
}

.add-Artikel button {
    background-color: #1366C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border: none;
    letter-spacing: 0.2vw;
    border-radius: 0px;
    color: white;
}

.add-Artikel button:hover{
    background-color: white;
    color: #1366C3;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    border: none;
    letter-spacing: 0.2vw;
    border-radius: 0px;
    border-color: #1366C3;
    border-style: solid;
}

.card-komunitas{
    width: 50%;
}